.container-slider {
    width: 100%;
    height: 80vh;
    border: 2px solid transparent;
    border-radius: 6px;
    margin: 2rem auto;
    overflow: visible;
    position: relative;
    background-color: rgb(173, 173, 173);
    backdrop-filter: blur(10px);
}
.slide {
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 10%;
    right: 10%;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.active-anim {
    opacity: 1;
}
.btn-slide {
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border-top: 6px groove rgb(168, 55, 55);
    border-left: 6px groove rgb(179, 30, 30);
    border-radius: 8%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.prev {
    top: 50%;
    left: 5%;
    transform: translateY(-60%) rotate(-45deg);
}
.next {
    top: 50%;
    right: 5%;
    transform: translateY(-60%) rotate(135deg);
}
@media screen and (max-width: 600px) {
    .container-slider {
        width: 100%;
        height: 100%;
        min-height: 400px;
        margin: 1rem auto;
        position: relative;
    }
    .slide {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .btn-slide {
        width: 2rem;
        height: 2rem;
        background-color: transparent;
        border-top: 5px solid rgb(98, 168, 108);
        border-left: 5px solid rgb(95, 180, 87);

        border-radius: 8%;
        border-top-right-radius: 10%;
        border-bottom-left-radius: 10%;

        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 60;
        transition: all 0.2s ease-in-out;
    }
    .btn-slide:hover {
        border-top: 4px solid rgb(230, 216, 181);
        border-left: 4px solid rgb(249, 239, 205);
    }
    .prev {
        top: 50%;
        left: 4%;
        transform: translateY(-60%) rotate(-45deg);
    }
    .next {
        top: 50%;
        right: 4%;
        transform: translateY(-60%) rotate(135deg);
    }
}
