@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Pavanam&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    @apply bg-light;
    @apply text-dark;
    max-width: 100vw;
    overflow-x: hidden;
}

.font-bodoni {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: none;
    font-weight: 700;
    font-style: normal;
}
.font-pavanam {
    font-family: "Pavanam", cursive;
    font-weight: 800;
}
